/* YUI Reset CSS */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

/* YUI Fonts CSS */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

body, html {
	font-size:12px;
	background-color:#FFFFFF;
	font-family:Verdana,sans-serif,Arial,FreeSans;
	margin:0;
	padding:0;
}

table, tr, td, div, ul, ol, li, p, h1, h2, h3, h4, h5, h6	{
	text-align: left;
}
a, a:link {
	color: #6a7398;
}
a:hover {
	color: #f00;
}
a:active, a:visited {
	color: #6a7398;
}
#background {
	text-align: left;
	origin:padding;
	background:transparent url(../images/bg.jpg) no-repeat scroll center top;
	top: 0; 
	left: 0;
	min-height:400px;
	min-width:500px;
	position:absolute;
	width:100%;	
	height:100%;
	overflow:hidden;
}

.os_firstpanel {
	
}

#os_firstloading {
	width:100%;
	text-align: center;	
	color:#FFF;
}

#os_firstloading span{
	display:block;
}

#workspace {
	overflow:hidden;
	z-index:10;
	/*position:absolute;/**/
	/* width:100%;/**/	
	/*height:100%;/**/
/*	top: 0;
	left: 0;
	right: 0;
	bottom: 30px;
	/*/
}

#os_minapps {
	bottom:0;
	color:#000000;
	font-size:11px;
	left:0;
	position:absolute;
	right:0px;
	z-index:100;
}

#os_minapp_right {
	background:transparent url(../images/os_minapp.png) repeat-x scroll 0 0;
	bottom:0;
	height:31px;
	left:0;
	position:absolute;
	right:0;
	z-index:99;
}

.os_minapp_in {
	display:inline-block;
	height:29px;
	overflow:hidden;
	position:relative;
	white-space:nowrap;
}

.os_minapp_show {
	background:transparent url(../images/os_minapp_show.png) no-repeat scroll center top;
}

.os_minapp_hide {
	background:transparent url(../images/os_minapp_hide.png) no-repeat scroll center top;
}

.os_minapp_hide, 
.os_minapp_show {
	cursor:pointer;
	display:inline-block;
	height:21px;
	margin-left:2px;
	overflow:hidden;
	padding-left:10px;
	padding-right:10px;
	padding-top:7px;
	white-space:nowrap;
	width:137px;
}

.os_minapp_container, 
.os_minapp_label {
	display:inline-block;
}

.os_minapp_label {
	width:137px;
	overflow:hidden;
}

.desktop-label {
	font-size:11px;
	cursor:pointer;
	color:#000; 
	text-align:center; 
	position: absolute; 
	width:80px; 
	height:80px;
}
.desktop-label img {
	width:50px; 
	height:50px;
}
.desktop-label span {
	display: block;
}


#userblock {
	color:#666666;
	text-align: left;
}
#userblock form{
	clear: both;
}

.big #userblock {
	margin: 10px;
	line-height: 1em;
}
.big #userblock .atd span {
	display: block;
}
.big #userblock .autologin {
	display: block;
}
.big #userblock .autologin span {
	display: inline;
}
.big #userblock #chk-autologin {
	margin: 0 5px 0 0;
}
.big #userblock #txt-login,
.big #userblock #txt-password {
	font-family:Tahoma;
	font-size: 2em;
	margin-bottom: 10px;
	width:300px;
}
.big #userblock .btn-authorize {
	font-size: 1.5em;
	padding: 0 6px;
	display: block;
	margin-top: 5px;
}
.big #userblock ul li {
	float:left;
}
.big #userblock .register ,
.big #userblock .recpwd {
	padding: 10px 10px 0 0;
}
